<h1>Carob</h1>

<% if current_user.present? %>
<div>
  <a href="/users/edit">Edit profile</a>
</div>


   <a href="/surveys/<% current_user.id %>">View and add surveys</a>

<div>
   <a href="/challenge_types">View all current challenges</a>
</div>

<div>
  <a href="/users/sign_out">Sign out</a>
</div>

<% else %>
  <a href="/users/sign_up">Sign up</a>
  
  <a href="/users/sign_in">Sign in</a>
<% end %>
